- if (deviceActionFailed(model))
  .alert.alert-error= model.failureMessage()
- else
  .row
    .span6
      table.table.table-bordered
        tr
          td.section-cell(colspan='2') Device Information
        tr
          td.span3.label-cell Name
          td.value-cell= device.name
        tr
          td.span3.label-cell Marketing Name
          td.value-cell= device.marketingName
        tr
          td.span3.label-cell Category
          td.value-cell= device.category
        tr
          td.span3.label-cell Device ID
          td.value-cell= device.deviceId
        tr
          td.span3.label-cell Network ID
          td.value-cell= device.networkId
        tr
          td.section-cell(colspan='2') Request Profile
        tr
          td.span3.label-cell Effective Reponse Time
          td.value-cell #{elapsed}ms
    .span6
      table.table.table-bordered
        tr
          td.section-cell(colspan='2') Device Data
        tr
          td.span3.label-cell Mode
          td.value-cell= model.mode()
        - var lce = model.loadControlEvent()
        - if (model.loadControlEvent())
            tr
              td.section-cell(colspan='2') Load Control Event
            tr
              td.span3.label-cell Active
              td.value-cell= lce.loadControlEventActive
            tr
              td.span3.label-cell Mandatory
              td.value-cell= lce.loadControlEventMandatory
            tr
              td.span3.label-cell Duty Cycling
              td.value-cell= lce.loadControlEventDutyCycling
            tr
              td.span3.label-cell Opted Out
              td.value-cell= lce.loadControlEventOptedOut
            tr
              td.span3.label-cell Return Mode
              td.value-cell= lce.loadControlEventReturnMode
            tr
              td.span3.label-cell ID
              td.value-cell= lce.loadControlEventId
