- if (locals.elapsed)
  .alert.alert-info #{elapsed}ms effective response time
- for entry, ei in trace
  - var traceId = "trace_" + ei + (locals.ns ? "_" + ns : "")
  .trace-entry
    div(class='alert '+(statusClass(entry.response)))
      strong: a(href='#'+traceId, data-toggle='trace-panel') #{entry.label}
      span.elapsed #{entry.elapsed}ms
    div(id=traceId, class='trace-panel'+(ei!=trace.length-1?' hidden':''))
      p.lead &rarr; Request
      pre
        - var req = entry.request
        .line.strong HTTP/1.1 #{req.method} #{req.url.toString()}
        - if (req.headers)
          - each v, k in req.headers
            .line.weak #{k}: #{k === 'Access_Token' ? '[redacted]' : v}
        - if (req.body)
          .line &nbsp;
          .body= req.formatBody()
      p.lead &larr; Response
      pre
        - var res = entry.response
        .line.strong HTTP/1.1 #{res.statusCode} #{res.status}
        - if (res.headers)
          - each v, k in res.headers
            .line.weak #{k}: #{k === 'Set-Cookie' ? '[redacted]' : v}
        - if (res.body)
          .line &nbsp;
          .body= res.formatBody()
