- var demoId = "demo" + (locals.ns ? "_" + locals.ns : "")
- var logId = "log" + (locals.ns ? "_" + locals.ns : "")
- var apisId = "apis" + (locals.ns ? "_" + locals.ns : "")
.tabbable

  ul.nav.nav-tabs
    li.active: a(href="#"+demoId, data-toggle="tab") Demo
    - if (locals.error || locals.trace)
      li: a(href="#"+logId, data-toggle="tab") Request Log
    - if (locals.apis)
      li: a(href="#"+apisId, data-toggle="tab") APIs

  .tab-content

    .tab-pane.active(id=demoId)
      - if (locals.caption)
        p.lead.caption= caption
      - else
        .alert
          strong Not Yet Implemented!
  
      - if (locals.model)
        != partial(section.name + "_" + subpage)
      - else if (locals.notFound)
        .alert
          strong Not Found!
          br
          | No data of this type \(or one of its pre-requisites\) is available for user #{username}.
      - else if (locals.error)
        .alert.alert-error
          strong Error!
          br
          - if (error.request)
            | Check the Request Log tab for more information.
          - else
            | #{error.message}

    - if (locals.error || locals.trace)
      .tab-pane(id=logId)!= partial("request_log")

    - if (locals.apis)
      .tab-pane(id=apisId)!= partial("api_guide")
