table.table.table-bordered.table-striped
  tr
    td.span3.label-cell Location ID
    td.value-cell= model.id()
  tr
    td.span3.label-cell Street Address
    td.value-cell= model.streetAddress()
  tr
    td.span3.label-cell City
    td.value-cell= model.city()
  tr
    td.span3.label-cell State
    td.value-cell= model.state()
  tr
    td.span3.label-cell Postal Code
    td.value-cell= model.postalCode()
  tr
    td.span3.label-cell Country Code
    td.value-cell= model.countryCode()
  tr
    td.span3.label-cell Time Zone
    td.value-cell= model.timeZone()
  tr
    td.span3.label-cell External Residence ID
    td.value-cell= model.externalResidenceId()
