table.table.table-bordered.table-striped
  tr
    td.span3.label-cell Display Name
    td.value-cell= model.displayName()
  tr
    td.span3.label-cell Location
    td.value-cell= model.location()
  tr
    td.span3.label-cell Savings Goal
    td.value-cell= model.savingsGoal()
  tr
    td.span3.label-cell Picture
    td.value-cell= model.picture()
  tr
    td.span3.label-cell Make Home Detail Public?
    td.value-cell= model.makeHomeDetailPublic()
  tr
    td.span3.label-cell Make Savings Goal Public?
    td.value-cell= model.makeSavingsGoalPublic()
