table.table.table-bordered.table-striped
  tr
    td.span3.label-cell First Name
    td.value-cell= model.firstName()
  tr
    td.span3.label-cell Last Name
    td.value-cell= model.lastName()
  tr
    td.span3.label-cell User Name
    td.value-cell= model.userName()
  tr
    td.span3.label-cell Email Address
    td.value-cell= model.emailAddress()
  tr
    td.span3.label-cell Using Temporary Password?
    td.value-cell= model.usingTemporaryPassword()
  tr
    td.span3.label-cell Expert?
    td.value-cell= model.expert()
  tr
    td.span3.label-cell Author ID
    td.value-cell= model.authorId()
